@tailwind base;
@tailwind components;
@tailwind utilities;

.loading_spinner {
    transform-origin: center;
    animation: loading_spinner_animation 2s linear infinite;
}
.loading_spinner circle {
    stroke-linecap: round;
    animation: loading_spinner_circle_animation 1.5s ease-in-out infinite;
}
@keyframes loading_spinner_animation {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading_spinner_circle_animation {
    0% {
        stroke-dasharray: 0 150;
        stroke-dashoffset: 0;
    }
    47.5% {
        stroke-dasharray: 42 150;
        stroke-dashoffset: -16;
    }
    95%,
    100% {
        stroke-dasharray: 42 150;
        stroke-dashoffset: -59;
    }
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 5px;
    background-color: rgb(11, 40, 65);
    color: white;
    border: 0px solid white;
    border-radius: 0px;
    display: none;
    opacity: 0.75;
    font-size: 14px;
}

.tooltip-line {
    stroke-opacity: 0.5;
}
